.btn,
.btn-tab {
  // @extend %black-letter;
  border: solid rem(1) transparent;
  font-family: 'Oswald', sans-serif;
  font-size: rem(14);
  letter-spacing: rem(2);
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
  line-height: rem(14); // creates 40 height
}

.btn {
  padding: $space-12 $space-16;
}

a.btn {
  display: block;

  ~ .btn {
    margin-top: $space-16;
  }

}

.btn-tab {
  padding-top: $space-12;
  padding-bottom: $space-12;
}

.btn-icon {
  border: solid rem(1) transparent;
  padding: $space-8;
  height: $space-40;
  width: $space-40;
}

.btn-primary {
  background-color: rgba($black, .64);
  border-color: rgba($white, .08);
  color: $white;
  @include outlined($white);
  @include shadows(1, 0);

  &:focus,
  &:hover,
  &[aria-selected="true"] {
    background-color: rgba($black, .88);
    border-color: rgba($white, .32);
    color: $white;
  }

}

.btn-secondary {
  background-color: rgba($white, .88);
  border-color: $white;
  color: $black;
  @include outlined($white);
  @include shadows(1, 0);

  &:focus,
  &:hover,
  &[aria-selected="true"] {
    background-color: rgba($black, .88);
    color: $white;

    .icon {
      filter: invert(100%);
    }

  }

}
