// media
@include media($mq-desktop) {

  [grid-desktop="codex"] {
    
    .page-nav { grid-column: span 3; }
    
    .page { grid-column: span 9; }
    
  }
  
}
@include media($mq-tablet-range) {

  [grid-tablet="codex"] {
    
    .page-nav { grid-column: span 3; }
    
    .page { grid-column: span 9; }
    
  }
  
}

.accordion-codex {
  margin-bottom: $space-8;
}

.accordion-title-codex {
  text-align: left;
}

.accordion-content-codex {
  background: rgba($white, .04);
  padding: $space-32;
}

// content (JSON in the end maybe?)
[class*="-codex"] {
  
  strong {
    @extend %black-letter;
    font-size: rem(12);
    opacity: .64;
  }
  
  p {
    margin-bottom: $space-8;
  }
  
  li {
    list-style: square;
    margin: $space-4 $space-32;
  }
  
}