.creator-heading {
  border-bottom: solid rem(1) rgba($white, .08);
  margin-bottom: $space-16;
  padding-bottom: $space-16;
}

.creator-block {
  @include flex-center("true", "false", "true", 33%);
  gap: $space-8;

  ~ .creator-block {
    margin-top: $space-16;
  }

  ~ .creator-heading {
    margin-top: $space-32;
  }

  &.attacks,
  &.rewards {

    // media
    @include media($mq-mobile) {
      flex-wrap: wrap;
    }

  }

  &.attacks {

    // media
    @include media($mq-mobile) {

      .input-container {
        min-width: 100%;
      }

    }

  }

  &.rewards {

    // media
    @include media($mq-mobile) {

      .input-container {
        min-width: calc(100% - $space-64);
      }

    }

  }

}

.creator-subheading,
.creator-mod,
.creator-total,
.creator-class,
.creator-weapon,
.creator-name {
  background: rgba($white, .02);
  border: solid rem(1) rgba($white, .08);
  text-align: center;
  line-height: rem(38); // +2 from border
}

.creator-mod,
.creator-total,
.creator-dice {
  max-width: $space-40;
}

.creator-subheading {
  max-width: $space-56;
}

.creator-weapon {

  // media
  @include media($mq-tablet-up) {
    max-width: rem(96);
  }

}

.creator-talents-spells {
  margin-top: $space-32;
}

.creator-character {
  @include flex-center("true", "false", "false");
  gap: $space-8;
}

.creator-name {
  width: calc(100% - rem(88));
}
