.creator-heading {
  border-bottom: solid rem(1) rgba($white, .08);
  margin-bottom: $space-16;
  padding-bottom: $space-16;
}

.creator-heading-spacer {
  margin-top: $space-32;
}

.creator-block {
  @include flex-center("fill", "false", "true", 33%);
  gap: $space-8;

  ~ .creator-block {
    margin-top: $space-16;
  }

  ~ .creator-heading {
    margin-top: $space-32;
  }

  &.attacks,
  &.rewards {

    // media
    @include media($mq-mobile) {
      flex-wrap: wrap;
    }

  }

  &.attacks {

    .input-number {
      max-width: $space-56;
    }

    // media
    @include media($mq-mobile) {

      .input-select {
        min-width: 100%;
      }

    }

  }

  &.rewards {

    // media
    @include media($mq-mobile) {

      .input-container {
        min-width: calc(100% - $space-64);
      }

    }

  }

}

.creator-subheading,
.creator-mod,
.creator-total,
.creator-class,
.creator-armor,
.creator-weapon,
.creator-name {
  background: rgba($white, .02);
  border: solid rem(1) rgba($white, .08);
  text-align: center;
  line-height: rem(38); // +2 from border
}

.creator-mod,
.creator-total,
.creator-dice {
  max-width: $space-40;
}

.creator-subheading {
  max-width: $space-56;
}

.creator-weapon {

  // media
  @include media($mq-tablet-up) {
    max-width: rem(96);
  }

}

.creator-talents-spells {
  margin-top: $space-32;
}

.creator-characters {
  margin-top: $space-8;
}

.creator-character {
  @include flex-center("true", "false", "false");
  gap: $space-8;

  ~ .creator-character {
    margin-top: $space-8;
  }

}

.creator-name {
  font-size: rem(14);
  width: calc(100% - rem(88));
}

.character-sheet-saved {
  grid-column: span 3;
}

.character-sheet {
  border-left: solid rem(1) rgba($white, .08);
  grid-column: span 9;
  padding-left: $space-32;
  position: relative;
}

.character-sheet-level {
  align-items: center;
  color: $black;
  display: flex;
  font-family: monospace;
  font-size: rem(20);
  justify-content: center;
  height: $space-40;
  width: $space-40;
  position: absolute;
  top: $space-4;
  right: 0;
  z-index: 1;

  &:before {
    content: "";
    background: $white;
    height: $space-40;
    width: $space-40;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transform: rotate(45deg);
  }

}

.character-sheet-block {
  border-top: solid rem(1) rgba($white, .08);
  display: flex;
  margin-top: $space-16;
  padding-top: $space-16;
}

.character-sheet-prop,
.character-sheet-value {
  font-size: rem(20);
  padding: $space-4 $space-16;
}

.character-sheet-prop {
  background: $white;
  color: $black;
}

.character-sheet-value {

}

.hidden {
  display: none;
}
