// @TODO - rename this, it's not just used for filters
.filters {
  display: flex;
  gap: $space-8;
  justify-content: flex-end;
  margin-top: $space-16;
  margin-bottom: $space-16;
  margin-left: auto;
  max-width: 50%;
  position: sticky;
  top: $space-16;
  z-index: 9;
}

.filters-heading {
  border-bottom: solid rem(1) rgba($white, .08);
  margin-bottom: $space-16;
  line-height: $space-40;
}

.filters-alpha,
.filters-numeric {
  display: flex;
  flex-wrap: wrap;
  gap: rem(3);
  margin-bottom: $space-8;

  > * {
    flex: 1 0 20%;
    max-width: $space-40;
  }

}

.filters-casters,
.filters-source {
  display: flex;
  gap: $space-8;

  > *:nth-child(1),
  > *:nth-child(2) {
    width: 50%;
  }

  > *:nth-child(3) {
    min-width: $space-40;
  }

}

.filters-type {
  display: flex;
  flex-wrap: wrap;
  gap: $space-8;
  margin-bottom: $space-8;

  > * {
    min-width: calc(50% - $space-4);
  }

}