@import "_base";
@import "_reset";

body {
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  letter-spacing: rem(2);
}

h1 { font-size: rem(48); }
h2 { font-size: rem(40); }
h3 { font-size: rem(32); }
h4 { font-size: rem(24); }
h5 { font-size: rem(16); }
h6 { font-size: rem(12); }

// core components
@import "../components/grid/_grid";
@import "../components/wrapper/_wrapper";

// header & footer components
@import "../components/header/_header";

// content components
@import "../components/hero/_hero";
