@import "_base";
@import "_reset";

// core
@import "core/_buttons";
@import "core/_typography";

// core components
@import "../components/grid/_grid";
@import "../components/forms/_inputs";
@import "../components/section/_section";
@import "../components/wrapper/_wrapper";

// header & footer components
@import "../components/header/_header";
@import "../components/footer/_footer";
@import "../components/nav/_nav-flyout";
@import "../components/copyright/_copyright";

// content components
@import "../components/hero/_hero";
@import "../components/icon/_icon";
@import "../components/card/_bestiary";
@import "../components/card/_item";
@import "../components/card/_media";
@import "../components/card/_spell";
@import "../components/card/_feat";
@import "../components/accordion/_accordion";

// pages
@import "pages/_character";
@import "pages/_codex";
@import "pages/_creator";
@import "pages/_filters";

// search
.search {
  display: flex;
  justify-content: center;
  padding: $space-16;
  width: 100vw;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;

  .input {
    @include shadows(1, 0);
  }

}
