.bestiary-card {
  border: solid rem(1) rgba($white, .32);
  padding: $space-16;
  position: relative;
}

.bestiary-source {
  height: $space-32;
  width: $space-32;
  position: absolute;
  top: $space-16;
  right: $space-16;
}

.bestiary-description {
  padding-top: $space-8;
}

.bestiary-details,
.bestiary-stats,
.bestiary-attack,
.bestiary-abilities,
.bestiary-spells {
  border-top: solid rem(1) rgba($white, .16);
  font-size: rem(14);
  margin-top: $space-8;
  padding-top: $space-8;
}

.bestiary-details,
.bestiary-stats {
  display: flex;

  > * {
    margin-right: $space-8;
  }

}

.bestiary-ability:not(:first-of-type) {
  padding-top: $space-8;
}
