// @TODO clean up repeating styles from bestiary, spell, and item
.bestiary-card {
  border: solid rem(1) rgba($white, .32);
  padding: $space-16;
  position: relative;

  &.custom {

    .bestiary-level {
      color: $white;

      &:before {
        background: rgba($white, .02);
        border: solid rem(1) rgba($white, .08);
      }

    }

  }

}

.bestiary-name {
  margin-bottom: $space-16;
}

.bestiary-source {
  height: $space-32;
  width: $space-32;
  position: absolute;
  top: $space-16;
  right: $space-16;
}

.bestiary-level {
  align-items: center;
  color: $black;
  display: flex;
  font-family: monospace;
  font-size: rem(12);
  font-weight: 700;
  justify-content: center;
  height: $space-24;
  width: $space-24;
  position: absolute;
  top: rem(20);
  right: rem(20);
  z-index: 1;

  &:before {
    content: "";
    background: $white;
    height: $space-24;
    width: $space-24;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transform: rotate(45deg);
  }

}

.bestiary-details,
.bestiary-stats,
.bestiary-attack,
.bestiary-abilities,
.bestiary-spells {
  border-top: solid rem(1) rgba($white, .08);
  font-size: rem(14);
  margin-top: $space-8;
  padding-top: $space-8;
}

.bestiary-details,
.bestiary-stats {
  display: flex;

  > * {
    margin-right: $space-8;
  }

}

.bestiary-ability:not(:first-of-type),
.bestiary-spell:not(:first-of-type) {
  padding-top: $space-8;
}
