// @TODO clean up repeating styles from bestiary, spell, and item
.item-card {
  border: solid rem(1) rgba($white, .32);
  padding: $space-16;
  position: relative;
}

.item-name {
  margin-bottom: $space-16;
}

// @TODO need to figure out how to indentify core vs custom visially

.item-description,
.item-bonus,
.item-benefit,
.item-curse,
.item-personality,
.item-additional {
  margin-top: $space-8;
}

.item-description {
  border-bottom: solid rem(1) rgba($white, .08);
  padding-bottom: $space-8;
}
