.media-card {
  position: relative;
}

// .media-card-asset {}

// .media-card-content {}

// .media-card-heading {}

// .media-card-copy {}

// .media-card-cta {}

.media-card-copy,
.media-card-cta {
  margin-top: $space-8;
}

[media-theme~="greyscale"] {

  .media-card-asset {
    filter: grayscale(100%);
    opacity: .24;
   }

}

[media-theme~="overlay"] {

  .media-card-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: $space-32;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
  }

}

[media-theme~="2-of-3"] {

  // media
  @include media($mq-tablet-up) {
    grid-column: span 8;

    &[media-theme~="overlay"] {

      .media-card-content {
        max-width: 50%;
      }

    }

  }

}
