.media-card {
  // border: solid rem(1) rgba($white, .32);
  position: relative;
}

// .media-card-asset {}

// .media-card-content {}

// .media-card-heading {}

// .media-card-copy {}

// .media-card-cta {}

.media-card-copy,
.media-card-cta {
  margin-top: $space-8;
}

[media-theme~="shaded"] {
  background-color: $black;

  .media-card-asset {
    filter: grayscale(50%);
    opacity: .48;
  }

}

[media-theme~="tinted"] {
  background-color: $white;

  .media-card-asset {
    filter: grayscale(50%);
    opacity: .48;
  }

  .media-card-heading,
  .media-card-copy {
    color: $black;
    @include shadows(0, 1);
  }

}

[media-theme~="overlay"] {

  .media-card-content {
    padding: $space-32;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
  }

}
