.spell-card {
  border: solid rem(1) rgba($white, .32);
  padding: $space-16;
  position: relative;
}

.spell-name {
  margin-bottom: $space-16;
}

.spell-tier {
  align-items: center;
  color: $black;
  display: flex;
  font-family: monospace;
  font-size: rem(12);
  justify-content: center;
  height: $space-24;
  width: $space-24;
  position: absolute;
  top: rem(20);
  right: rem(20);
  z-index: 1;

  &:before {
    content: "";
    background: $white;
    height: $space-24;
    width: $space-24;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transform: rotate(45deg);
  }

}

.spell-class,
.spell-duration,
.spell-range {
  font-size: rem(14);
}

.spell-duration,
.spell-range,
.spell-description {
  margin-top: $space-8;
}

.spell-description {
  border-top: solid rem(1) rgba($white, .16);
  padding-top: $space-8;
}

.spell-helpers {
  // border-top: solid rem(1) rgba($white, .16);
  margin-top: $space-8;
  // padding-top: $space-8;
}
