.header-container {
  position: sticky;
  top: 0;
  z-index: 9;
}

.header {
  @include stipple($white);
  background-color: $black;
  padding-top: $space-16;
  padding-bottom: $space-16;
}

.nav {
  align-items: center;
  display: flex;
}

.nav-logo {
  margin-right: $space-16;
}
