.section {
  position: relative;
}

.section-heading {
  margin-bottom: $space-32;
}

[section-theme~="both"] {
  padding-top: 8vh;
  padding-bottom: 8vh;
}

[section-theme~="top"] {
  padding-top: 8vh;
}

[section-theme~="bot"] {
  padding-bottom: 8vh;
}
