.nav-flyout {
  backdrop-filter: blur($space-4);
  background: rgba($black, .8);
  padding: $space-32;
  height: 100vh;
  width: rem(320);
  position: fixed;
  top: $space-72;
  z-index: 9;
  transition: .48s cubic-bezier(.5,.25,0,1);
}

.nav-flyout-content {

  // media
  @include media($mq-mobile) {
    max-height: calc(100vh - rem(136));
    overflow-y: auto;
  }

}

.nav-flyout-close {
  position: absolute;
  top: $space-32;
  z-index: 9;
}

.nav-primary {
  transform: translate(-108%, 0);
  left: 0;

  .nav-flyout-close {
    right: rem(-20);
  }

}

.nav-secondary {
  transform: translate(108%, 0);
  right: 0;

  .nav-flyout-close {
    left: rem(-20);
  }

}

.nav-flyout-content {
  display: none;
}

[nav-open="true"] {
  transform: translate(0, 0);

  .nav-flyout-content {
    display: block;
  }

}
